@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Global modifier */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.nav-item {
  font-weight: 600 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown-item:active {
  background-color: #1B3A55;
}

#top-bar {
  height: 2.2rem;
  background-color: #1B3A55;
  color: #fff;
}

#top-bar p {
  font-size: 0.92rem;
  margin: 0;
  padding-top: 0.3rem;
}

.info-box {
  text-align: center;
  padding: 2rem 2.5rem;
  background-color: #FABF26;
  border-right: 1px solid #c4f4f4;
}

.info-box:last-child {
  border: none;
}

.info-box h4 {
  margin: 0.5rem 1rem;
}

#welcome {
  padding: 4rem 0rem;
  text-align: center;
  background-color: #072F4B;
  color: #fff;
}

#welcome .welcome-heading {
  font-family: Raleway;
  font-weight: bold;
  padding-bottom: 0.5rem;
  display: inline-block;
  border-bottom: 3px solid gold;
  border-radius: 1px;
  margin-bottom: 2.2rem;
}

#welcome .welcome-text {
  line-height: 2;
  font-size: 0.95rem;
  padding: 0rem 4rem;
}

#notice {
  background-image: url("../images/notice.jpg");
  background-position: center;
  color: #fff;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#notice .divider-border {
  border-right: 3px solid #c4c4c4;
  border-radius: 2px;
}

#notice .notice-heading {
  font-family: Raleway;
  font-weight: bold;
  letter-spacing: .2rem;
  padding-bottom: 0.3rem;
  display: inline-block;
  border-bottom: 2px solid gold;
  margin-bottom: 1rem;
}

#notice .notice-text {
  line-height: 1.8;
  letter-spacing: 0.05rem;
  font-size: 0.85rem;
  margin-right: 1.5rem;
}

#important-message {
  padding: 3rem 0rem;
}

#important-message .important-message-heading {
  font-family: Raleway;
  font-weight: bold;
  padding-bottom: 0.5rem;
  display: inline-block;
  border-bottom: 3px solid gold;
  border-radius: 1px;
  margin-bottom: 2.2rem;
}

#important-message .important-message-text {
  line-height: 2;
  font-size: 0.95rem;
}

#admission {
  background-color: #E7E7E7;
  padding: 2rem 0rem;
}

#admission .admission-container {
  padding: 0rem 5rem;
}

#admission .admission-heading {
  font-family: Raleway;
  font-weight: bold;
  letter-spacing: .1rem;
  padding-bottom: 0.3rem;
  display: inline-block;
  border-bottom: 2px solid gold;
  margin-bottom: 1rem;
}

#admission .admission-content {
  line-height: 2;
  font-size: 0.95rem;
}

@media (max-width: 575.98px) and (max-width: 767.98px) and (max-width: 991.98px) {
  .info-box {
    border-bottom: 1px solid #c4f4f4;
    border-right: none;
  }
  #notice .notice-heading {
    padding-bottom: .4rem;
  }
  #notice .notice-text {
    letter-spacing: 0.05rem;
    font-size: 0.85rem;
    text-align: center;
  }
  #notice .divider-border {
    border-right: none !important;
    border-bottom: 3px solid #c4c4c4;
    border-radius: 2px;
  }
  #notice .vision-heading {
    margin-top: 2rem;
  }
  #important-message .important-message-title {
    margin-top: 3rem;
  }
  #admission .admission-container {
    padding: 0rem 1rem;
  }
  .footer-first-header {
    text-align: left !important;
  }
}
/*# sourceMappingURL=style.css.map */